
<div>
<!-- Page Title -->
    <section class="container padding-top-3x">
      <h1 class="space-top-half tablet-center">Free $hit</h1>
    </section><!-- .container-fluid -->

    <!-- CATEGORY FILTER BAR -->
    <div class="row">
    <section class="container padding-top pull-left">
      <div class="filters-bar space-top-half">
        <div class="column">

          <!-- CATEGORIES -->
          <ul class="nav-filters">
            <!-- ALL CATEGORY TAB -->
          	<li ng-class=isActive(-1) style='cursor:pointer'><a ng-click=setSelected(-1)>All</a> <sup>{{products.length}}</sup></li>
            <!-- NG-REPEAT OVER EACH CATEGORY TO DISPLAY EACH TAB -->
          	<li ng-repeat='category in categories' ng-class=isActive(category.id) style='cursor:pointer'><a ng-click=setSelected(category.id)>{{ category.name | filter: upperCase }} </a> <sup>{{categoryCount(category.id)}}</sup></li>
          </ul><!-- .nav-filters -->
        </div><!-- .column -->
       </div>
    </section>
     </div>

<!-- Shop Catalog -->
    <section class="container padding-bottom-3x">
      <div class="row">
        <!-- Item -->
        <!-- PUT PRODUCTS HERE  -->
        <product ng-repeat="product in products | categoryFilter: selectedCategoryId" product='product'></product>
      </div>
     </section><!-- .container -->
</div>
