<div class="inner">
    <form method="post" class="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <alert type="danger" ng-show="error">
    {{ error }}
    </alert>


        <input ng-model="login.email" type="text" class="form-control" placeholder="email" required>
        <input type="password" ng-model="login.password" class="form-control" placeholder="Password" required>
        <div class="form-footer">
            <div class="rememberme">
                <label class="checkbox">
                    <input type="checkbox" checked> Remember me
                </label>
            </div>

            <div class="form-submit">

                <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Login</button>
            </div>
        </div>
    </form>
    <!-- .login-form -->
    <p class="text-sm space-top">Don’t have an account? <a href="#signup" ng-click="showSignUp = true" class="toggle-section">Signup here</a> or with social account:</p>
    <a href="#" class="social-signup-btn ssb-facebook">
        <i class="socicon-facebook"></i>
        <span>Signup with Facebook</span>
    </a>
    <a href="#" class="social-signup-btn ssb-google">
        <i class="socicon-googleplus"></i>
        <span>Signup with Google+</span>
    </a>
    <a href="#" class="social-signup-btn ssb-twitter">
        <i class="socicon-twitter"></i>
        <span>Signup with Twitter</span>
    </a>
</div>
<!-- .inner -->

